@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* FONT FAMILY */
h1, h2, h3, h4, h5, h6{
  @apply font-serif  ;
}

p, a {
  @apply font-sans font-normal;
}

/* FONT SIZES AND FONT WEIGHT */

    h1 {
        @apply font-bold text-mh1 md:text-wh1;
    }

    h2 {
        @apply font-bold text-mh2 md:text-wh2;
    }


    h3 {
        @apply font-medium text-mh3 md:text-wh3;
    }

    h4 {
        @apply font-medium text-mh4 md:text-wh4;
    }

    h5 { 
        @apply font-medium text-mh5 md:text-wh5;
    }

    h6 {
        @apply font-bold text-sh6 md:text-sh6;
    }

    p {
        @apply font-normal text-base;
    }
    a {
        @apply font-light text-base;
        color: inherit;
        text-decoration: none;
    }

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

